@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins" sans-serif;
  background-color: #fbfaf2;
  margin: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.logo {
   
    margin-left: 50px;
}

.logo img {
 width: 35px;
 
}

span {
  font-size: 24px;
  font-weight: bold;
 color: #353935;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

li {
    margin: auto 20px;
    text-align: center;
    
}
.menu a {
    color: #282C35;
    font-weight: 400; 
    float: left;
    width: 200px;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-img {
  margin: 2rem;

}

.profile-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.about h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.about h1 {
  font-size: 25px;
  margin-bottom: 5px;
  font-weight: bolder;
}
p {
  font-size: 18px;
  font-weight: 400;
}

.button {
  margin-top: 14px;
}

button {
  background-color: #89CFF0; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition:   ease-in
}

button:hover {
  background-color: #5597ba;
}

.skill {
  display: flex;
  flex-direction: row;
  margin: 2rem;
}
.work {
  display: block;
  margin-top: 25px;
  padding: 10px;
  font-size: 19px;
}

.work h4 {
  font-size: 24px;
  margin-bottom: 14px;
}